.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-double {
  margin-bottom: 40px;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 90%;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

ion-label ~ ion-item {
  margin-top: 5px;
}

ion-icon {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;

  ion-button:first-child {
    margin-right: 10px;
  }
}

form {
  padding: 10px;
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #808080;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--ion-color-primary);
}

.mat-form-field {
  width: 100%;
}

 .mat-toolbar-row, .mat-toolbar-single-row.image{
  font-size: 16px;
  padding: 0;
}


ion-modal {
  --height: 650px;
}

